@import 'o-colors/main';

$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;

body {
  @include oColorsFor(page, background);
  background-color: #fff1e5;
  margin: 0;
  border: 0;
  font-family: $font-sans;
}

.o-header{
  &--light {
    border-bottom: 1px solid #e9decf;
  }
}

$share-button-size: 38px;
.o-share--muted {
  .o-share__action {
    line-height: $share-button-size;

    a {
      width: $share-button-size;
      border-bottom: none;
      &:hover {
      }
    }

    i {
      width: $share-button-size;
      height: $share-button-size;
      text-indent: $share-button-size;
      border: 1px solid #e9decf;
      &:hover {
        opacity: 1;
        background-color: #e9decf;
      }
    }

    &--twitter i {
      background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTMgLTEwMyA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS04MS44NjItODkuNzg2Yy0uODIuMzU3LTEuNy42LTIuNjI0LjcwOC45NDMtLjU1NiAxLjY2OC0xLjQzNiAyLjAxLTIuNDgzLS44ODMuNTEtMS44NjIuODgtMi45MDIgMS4wOC0uODMzLS44Ny0yLjAyLTEuNDItMy4zMzctMS40Mi0yLjUyMyAwLTQuNTcgMi4wMS00LjU3IDQuNDkgMCAuMzUuMDQuNjkuMTE4IDEuMDItMy44LS4xOS03LjE2Ny0xLjk3OC05LjQyLTQuNjktLjM5NC42Ni0uNjIgMS40My0uNjIgMi4yNiAwIDEuNTUuODA3IDIuOTMgMi4wMzMgMy43My0uNzUtLjAyNS0xLjQ1NC0uMjI4LTIuMDctLjU2di4wNTRjMCAyLjE3NiAxLjU3MyAzLjk5IDMuNjY3IDQuNC0uMzg0LjEwNC0uNzkuMTYtMS4yMDQuMTYtLjMgMC0uNTgtLjAyNy0uODYtLjA4LjU4IDEuNzgyIDIuMjcgMy4wOCA0LjI3IDMuMTE2LTEuNTcgMS4yMDUtMy41NCAxLjkyMy01LjY4IDEuOTIzLS4zNyAwLS43NC0uMDI2LTEuMDktLjA2NyAyLjAyIDEuMjcyIDQuNDIgMi4wMTUgNyAyLjAxNSA4LjQgMCAxMy02Ljg0IDEzLTEyLjc3IDAtLjE5NC0uMDA3LS4zOS0uMDE4LS41OC44OS0uNjMzIDEuNjY1LTEuNDI1IDIuMjgtMi4zMjV6Ii8+PC9zdmc+)
    }

    &--facebook i {
      background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMTQgLTEwNSA0MCA0MCI+PHBhdGggZmlsbD0iI2E3YTU5YiIgZD0iTS05Ny05MS40NHYyLjk1aC0yLjE3djMuNjJILTk3djEwLjcyaDQuNDN2LTEwLjcyaDNzLjI2LTEuNzMuNC0zLjYyaC0zLjM4di0yLjQ3YzAtLjM3LjUtLjg3Ljk2LS44N2gyLjQzdi0zLjc1aC0zLjI4Yy00LjY2IDAtNC41NSAzLjYzLTQuNTUgNC4xNnoiLz48L3N2Zz4=)
    }
  }
}

.o-share {
  margin-top: 8px;
  margin-bottom: 20px;
}

.article {
  position: relative;
  max-width: 340px;
  margin: 0 auto;

  @media (min-width: 520px) {
    max-width: 620px;
  }

  &-head {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
    h1 {
      font-family: $font-sans;
      font-size: 32px;
      line-height: 34px;
      text-transform: uppercase;
      color: white;
      display: inline-block;
      width: 100%;

      span {
        background-color: #0F5499; // #CC0000
      }

      @media (min-width: 520px) {
        font-size: 62px;
        line-height: 56px;
      }
    }
    .o-share--vertical {
      float: right;
      .o-share__action {
        margin: 0 0 0 5px;
        a,
        a:first-child {
          padding-top: 0;
          padding-bottom: 5px;
        }
      }
    }
  }
  &-body .article-head {
    margin-top: 0;
  }

  #answer {
    margin-top: 12px;
    font-size: 72px;
    line-height: 58px;
    text-transform: uppercase;
    color: white;
    background-color: #cc0000;
    display: inline-block;

    @media (min-width: 520px) {
      font-size: 112px;
      line-height: 90px;
    }
  }

  .boris {
    position: absolute;
    top: 40px;
    right: 16px;
    width: 120px;

    @media (min-width: 520px) {
      width: 200px;
      top: 80px;
    }

    img {
      width: 100%;
    }
  }

  #timestamp {
    font-size: 18px;
    color: #33302e;
    text-shadow: 0 2px 4px #ffffff;
    font-weight: 600;
    margin: 68px 0;
    max-width: 150px;

    @media (min-width: 520px) {
      font-size: 28px;
      max-width: 200px;
      margin: 20px 0 40px 0;
    }
  }

  .whynot {
    margin-bottom: 12px;
    font-size: 16px;
    color: #33302e;
    font-weight: 400;

    @media (min-width: 520px) {
      font-size: 20px;
      line-height: 24px;
      max-width: 262px;
    }
  }
}

.article-head .o-share--horizontal .o-share__action {
  box-sizing: content-box !important;
}

.o-typography-body-wrapper a.o-share__icon {
  border-bottom: none;
}

.o-share__icon--twitter:before,
.o-share__icon--facebook:before,
.o-share__icon--whatsapp:before,
.o-typography-body-wrapper a.o-share__icon,
.o-share__action {
  @media (min-width: 520px) {
    width: 28px !important;
    height: 28px !important;
  }
}
